streamlit
pandas
matplotlib
plotly
wordcloud

# NLP & Keyword Extraction (spaCy removed)
keybert
rake-nltk
nltk

# AI/LLM Integration
google-search-results

groq
python-dotenv

# Utilities
requests
beautifulsoup4
scikit-learn
tqdm

openpyxl
xlsxwriter